<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier utilisateur</title>
    <th:block th:replace="~{fragment-meta :: html-header}"></th:block>
</head>
<header th:replace="~{fragment-header :: header}">
    <h1>Votez pour vos propositions préférées</h1>
</header>
<body>
<h2>Modifier un utilisateur</h2>
<main class="form-signin">

    <div class="alert alert-success" role="alert" th:if="${success}">La modification a bien été effectuée.</div>

    <form th:object="${user}" th:action="@{/admin/updateUser/{id}(id=${user.login})}" method="post">

        <div class="error" th:if="${#fields.hasGlobalErrors()}">
            <p th:each="error : ${#fields.globalErrors()}" th:text="${error}"></p>
        </div>
        <div class="form-group">
            <label class="form-label" for="login">Login :</label>
            <input type="hidden" th:field="*{login}">
            <input class="form-control" id="login" type="text" th:value="*{login}" disabled="disabled">
            <span class="error" th:errors="*{login}">Error</span>
        </div>
        <div class="form-group">
            <label class="form-label" th:for="password">Nouveau mot de passe :</label>
            <input class="form-control" id="password" type="password" name="password" th:field="*{password}">
            <span class="error" th:errors="*{password}">Error</span>
        </div>
        <div class="form-group">
            <label class="form-label" for="confirmPassword">Confirmation :</label>
            <input class="form-control" id="confirmPassword" type="password" name="confirmPassword" th:field="*{confirmPassword}">
            <span class="error" th:errors="*{confirmPassword}">Error</span>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-lg" onclick="window.location='/'">Annuler</button>
            <button type="submit" class="btn btn-lg btn-success">Modifier</button>
        </div>
    </form>
</main>
</body>
</html>