<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Changer son mot de passe</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" th:action="@{/change-password}" th:object="${user}">
        <h1 class="form-signin-heading">Changer votre mot de passe</h1>
        <div class="alert alert-success" role="alert" th:if="${param.success}">
            Mot de passe modifié avec succès
        </div>
        <p>
            <button th:if="${param.success}" id="btn-change-password-success" class="btn btn-success" type="button"
                    onclick="window.location='/'">
                Retour
            </button>
        </p>
        <th:block th:unless="${param.success}">
            <p>
                <label for="oldPassword" class="sr-only">Ancien mot de passe :</label>
                <input type="password" id="oldPassword" name="oldPassword" class="form-control"
                       placeholder="Old Password"
                       required="">
            <div class="alert alert-warning" role="alert" th:errors="*{oldPassword}"></div>
            </p>
            <p>
                <label for="newPassword" class="sr-only">Nouveau mot de passe :</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control"
                       th:field="*{newPassword}" th:value="*{newPassword}"
                       placeholder="New Password"
                       required="">
            <div class="alert alert-warning" role="alert" th:errors="*{newPassword}"></div>
            </p>
            <p>
                <label for="confirmPassword" class="sr-only">Confirmation :</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                       placeholder="Confirm" required="">
            <div class="alert alert-warning" role="alert" th:errors="*{confirmPassword}"></div>
            </p>
            <button id="btn-cancel-change-password" class="btn btn-lg btn-danger" type="button"
                    onclick="window.location='/'">
                Annuler
            </button>
            <button class="btn btn-lg btn-default btn-success" type="submit">Modifier</button>
        </th:block>
    </form>
</div>
</body>
<script src="../static/sondages.js" th:src="@{/sondages.js}" type="module"></script>
</html>