<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Identification</title>
  <th:block th:replace="~{fragment-meta :: html-header}"></th:block>
</head>
<body>
<div class="container">
  <form class="form-signin" method="post" th:action="@{/login}">
    <h1 class="form-signin-heading">Veuillez vous identifier</h1>
    <div class="alert alert-danger" role="alert" th:if="${param.error}">Mot de passe ou identifiant invalides.</div>
    <div class="alert alert-success" role="alert" th:if="${param.logout}">Vous êtes bien déconnecté.</div>
    <p>
    <label for="username" class="sr-only">Login</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
  </p>
    <p>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
    </p>
    <button class="btn btn-lg btn-success btn-block" type="submit">Se connecter</button>
    <button id="btn-subscribe" class="btn btn-lg btn-info btn-block" type="button">S'inscrire</button>
  </form>
</div>
</body>
<script src="../static/sondages.js" th:src="@{/sondages.js}" type="module"></script>
</html>